$font-color: #000;
$background-color: #fff;
$section-colors: #e44f4f #e8734f #ed924f #f1a74f #f5d842 #c8db43 #8ec139 #62ae31 #61be9a #4f9ac3 #4077b7 #3153b5 #3539ae #673bac #ad45b2 #c3477d;

::-moz-selection { background:transparentize($background-color, .5); }
::selection { background:transparentize($background-color, .5); }

html, body { background:$background-color; color:$font-color; font-family:'Source Code Pro', monospace, sans-serif; height:100%; text-align:center; text-transform:uppercase; }

main, section { height:100%; min-height:em(250); width:100%; }
section { height:65%; position:relative; overflow:hidden; width:100%;

  .magic { position:absolute; top:0; bottom:0; left:0; right:0; border-bottom:3px solid; clip:rect(auto, auto, auto, auto); clip-path:inset(0); }

  @for $i from 1 through length($section-colors) {
    $current-color: nth($section-colors, $i);
    $bg: mix($current-color, $background-color, 35%);
    .kitten-#{$i} {
      background-color:$current-color;
      border-bottom-color:darken($current-color, 20%);
      ::-moz-selection { background:$bg; color:visible-complement($current-color, $bg); }
      ::selection { background:$bg; color:visible-complement($current-color, $bg); }
      i.fa { color:mix($current-color, $background-color, 65%); position:absolute; font-size:15em; z-index:0; left:0; right:0; top:48%;
        @include transform(translate(0, -50%));
        @include media(em(575)) { font-size:20em; }
      }
    }
  }

  h1, h2, p { position:absolute; font-size:mr(1)-.5; z-index:5; font-weight:300; line-height:1.75; margin:0; padding:0 .75em; left:0; right:0; top:40%;
    @include transform(translate(0, -40%));

    @include media(em(575)) { font-size:mr(1); position:fixed;
      @include backface-visibility(hidden);
    }
  }
  a { border-bottom:2px solid $background-color; color:$font-color; text-decoration:none;
    &:active, &:hover { background:$background-color; }
  }
}
